# Ignore node_modules directory
node_modules/

# Ignore environment files
.env
config.env

# Ignore log files
*.log

# Ignore build directories
build/
dist/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore local history for Git
.git/history/

# Ignore Python virtual environment directories
venv/
env/

# Ignore temp directories and their contents
temp/

